body {
  margin: 0;
  padding: 0;
}

.el-tabs {
  border: none !important;
}

.el-tabs__content {
  padding: 0 !important;
  width: 100%;
}

a {
  color: #8d9095;
  text-decoration-line: none;
  font-size: 12px;
}

a:hover {
  color: #79bbff;
}
